{% extends 'base.html' %}
{% block body%}
<div class="container">

<section class="portfolio" id="portfolio">
   <h2 class="heading">Latest <span>Project</span></h2>

    <div class="portfolio-cont">
        <div class="portfolio-box">
            <img src="{{url_for('static', filename='img/IMG_20220620_174644.jpg')}}" alt="Project1" class="card-img-top">
            <div class="portfolio-layer">
                <h4><strong>Web Design</strong></h4>
                <p>...........................................hgfgdg</p>
                <a href ="#"><i class='bx bx-link-external'></i></a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="{{url_for('static', filename='img/IMG-20240606-WA0029~2.jpg')}}" alt="Project1" class="card-img-top">
            <div class="portfolio-layer">
                <h4><strong>Web Design</strong></h4>
                <p>...........................................hgfgdg</p>
                <a href ="#"><i class='bx bx-link-external'></i></a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="{{url_for('static', filename='img/IMG_20220620_174644.jpg')}}" alt="Project1" class="card-img-top">
            <div class="portfolio-layer">
                <h4><strong>Web Design</strong></h4>
                <p>...........................................hgfgdg</p>
                <a href ="#"><i class='bx bx-link-external'></i></a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="{{url_for('static', filename='img/IMG_20220620_174644.jpg')}}" alt="Project1" class="card-img-top">
            <div class="portfolio-layer">
                <h4><strong>Web Design</strong></h4>
                <p>...........................................hgfgdg</p>
                <a href ="#"><i class='bx bx-link-external'></i></a>
            </div>
        </div>
    </div>
</section>
</div>
{% endblock %}